* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  /* font-family: sans-serif; */
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

h1 {
  text-align: center;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartImage {
  width: 120px;
  height: 120px;
  border: 1px solid black;
}

.all-carts-list {
  margin-left: 20px;
}

/* Navbar */
.navbar {
  background: rgb(171, 8, 8);
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}


.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-right: 80px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.3s ease-out;
}

/* All Products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 1 1 1;
  height: 30rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product {
  transition: all 0.5s ease;
}
.product:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



/*Checkout JS File */
body.active-modal {
  overflow-y: hidden;
  padding-right: 15px;
}

.btn-modal {
  background-color: #59a9c2;
  margin-left: 30px;
  margin-bottom: 40px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 10px;
  color: white;
}

.btn-modal:hover {
  background-color: #65878f;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(41, 41, 41, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

form button {
  padding: 1em 2em;
  background-color: #59a9c2;
  color: white;
  border: none;
  font-size: 10px;
  transition: all 1s ease;
  outline: none;
  margin-left: 30px;
}

form button:hover {
  background-color: #65878f;
}

/* admin components */
#admin-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin-tile {
  align-items: center;
  justify-content: center;
}
.admin-tile h1,
h2 {
  text-align: center;
}
.admin-tile img {
  width: 200px;
}
